//-
  options принимает объект настроек
  {label: <text>, placeholder: <text>, amountOfBedrooms: <text>, amountOfBeds: <text>, amountOfBathrooms: <text> , applyAndCancel: true/false}
mixin dropdownBedroom(options)
  .dropdown-bedroom
    .dropdown-bedroom__wrapper
      p.dropdown-bedroom__label-name= options.label
      .dropdown-bedroom__show-info
        .dropdown-bedroom__area-of-placeholder= options.placeholder
        .dropdown-bedroom__expand-more-wrapper
          span.material-icons keyboard_arrow_down
      .dropdown-bedroom__panel-of-choice.hide
        .dropdown-bedroom__panel-of-choice__wrapper
          .dropdown-bedroom__panel-of-choice__label= options.amountOfBedrooms
          .buttons-of-choice
            button.button__remove-bedrooms(type="button" disabled) -
            .buttons-of-choice__amount-of-bedrooms 0
            button.button__add-bedrooms(type="button") +
        .dropdown-bedroom__panel-of-choice__wrapper
          .dropdown-bedroom__panel-of-choice__label= options.amountOfBeds
          .buttons-of-choice
            button.button__remove-beds(type="button" disabled) -
            .buttons-of-choice__amount-of-beds 0
            button.button__add-beds(type="button") +
        .dropdown-bedroom__panel-of-choice__wrapper
          .dropdown-bedroom__panel-of-choice__label= options.amountOfBathrooms
          .buttons-of-choice
            button.button__remove-bathrooms(type="button" disabled) -
            .buttons-of-choice__amount-of-bathrooms 0
            button.button__add-bathrooms(type="button") +
